In [60]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('nyc_bird_data_Mar_2020.txt', sep="\t")

**Initial Data Exploration:**

In [30]:
df.head()

,GLOBAL UNIQUE IDENTIFIER,LAST EDITED DATE,TAXONOMIC ORDER,CATEGORY,COMMON NAME,SCIENTIFIC NAME,SUBSPECIES COMMON NAME,SUBSPECIES SCIENTIFIC NAME,OBSERVATION COUNT,BREEDING BIRD ATLAS CODE,...,NUMBER OBSERVERS,ALL SPECIES REPORTED,GROUP IDENTIFIER,HAS MEDIA,APPROVED,REVIEWED,REASON,TRIP COMMENTS,SPECIES COMMENTS,Unnamed: 46
0,URN:CornellLabOfOrnithology:EBIRD:OBS786503632,2019-07-19 10:29:34,33194,species,Northern Cardinal,Cardinalis cardinalis,NaN,NaN,X,NaN,...,NaN,0,NaN,0,1,0,NaN,NaN,NaN,NaN
1,URN:CornellLabOfOrnithology:EBIRD:OBS786499692,2019-07-19 10:15:03,5892,species,Least Sandpiper,Calidris minutilla,NaN,NaN,X,NaN,...,NaN,0,NaN,0,1,0,NaN,NaN,NaN,NaN
2,URN:CornellLabOfOrnithology:EBIRD:OBS786503672,2019-07-19 10:29:37,23153,species,Barn Swallow,Hirundo rustica,NaN,NaN,X,NaN,...,NaN,0,NaN,0,1,0,NaN,NaN,NaN,NaN
3,URN:CornellLabOfOrnithology:EBIRD:OBS786503655,2019-07-19 10:29:35,26287,species,Carolina Wren,Thryothorus ludovicianus,NaN,NaN,X,NaN,...,NaN,0,NaN,0,1,0,NaN,NaN,NaN,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS786503665,2019-07-19 10:29:36,32501,species,Red-winged Blackbird,Agelaius phoeniceus,NaN,NaN,X,NaN,...,NaN,0,NaN,0,1,0,NaN,NaN,NaN,NaN

In [46]:
df.shape

(1699064, 47)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699064 entries, 0 to 1699063
Data columns (total 47 columns):
GLOBAL UNIQUE IDENTIFIER        object
LAST EDITED DATE                object
TAXONOMIC ORDER                 int64
CATEGORY                        object
COMMON NAME                     object
SCIENTIFIC NAME                 object
SUBSPECIES COMMON NAME          object
SUBSPECIES SCIENTIFIC NAME      object
OBSERVATION COUNT               object
BREEDING BIRD ATLAS CODE        object
BREEDING BIRD ATLAS CATEGORY    object
AGE/SEX                         object
COUNTRY                         object
COUNTRY CODE                    object
STATE                           object
STATE CODE                      object
COUNTY                          object
COUNTY CODE                     object
IBA CODE                        object
BCR CODE                        float64
USFWS CODE                      float64
ATLAS BLOCK                     object
LOCALITY                        object
LOCALITY ID                     object
LOCALITY TYPE                   object
LATITUDE                        float64
LONGITUDE                       float64
OBSERVATION DATE                object
TIME OBSERVATIONS STARTED       object
OBSERVER ID                     object
SAMPLING EVENT IDENTIFIER       object
PROTOCOL TYPE                   object
PROTOCOL CODE                   object
PROJECT CODE                    object
DURATION MINUTES                float64
EFFORT DISTANCE KM              float64
EFFORT AREA HA                  float64
NUMBER OBSERVERS                float64
ALL SPECIES REPORTED            int64
GROUP IDENTIFIER                object
HAS MEDIA                       int64
APPROVED                        int64
REVIEWED                        int64
REASON                          object
TRIP COMMENTS                   object
SPECIES COMMENTS                object
Unnamed: 46                     float64
dtypes: float64(9), int64(5), object(33)
memory usage: 609.3+ MB

In [44]:
df.isna().sum()

GLOBAL UNIQUE IDENTIFIER              0
LAST EDITED DATE                      0
TAXONOMIC ORDER                       0
CATEGORY                              0
COMMON NAME                           0
SCIENTIFIC NAME                       0
SUBSPECIES COMMON NAME          1607383
SUBSPECIES SCIENTIFIC NAME      1607383
OBSERVATION COUNT                     0
BREEDING BIRD ATLAS CODE        1674999
BREEDING BIRD ATLAS CATEGORY    1674999
AGE/SEX                         1646617
COUNTRY                               0
COUNTRY CODE                          0
STATE                                 0
STATE CODE                            0
COUNTY                                0
COUNTY CODE                           0
IBA CODE                         444673
BCR CODE                          96717
USFWS CODE                      1699064
ATLAS BLOCK                     1695513
LOCALITY                              0
LOCALITY ID                           0
LOCALITY TYPE                         0
LATITUDE                              0
LONGITUDE                             0
OBSERVATION DATE                      0
TIME OBSERVATIONS STARTED         76232
OBSERVER ID                           0
SAMPLING EVENT IDENTIFIER             0
PROTOCOL TYPE                         0
PROTOCOL CODE                         0
PROJECT CODE                          0
DURATION MINUTES                 117453
EFFORT DISTANCE KM               325799
EFFORT AREA HA                  1655473
NUMBER OBSERVERS                  41420
ALL SPECIES REPORTED                  0
GROUP IDENTIFIER                1483611
HAS MEDIA                             0
APPROVED                              0
REVIEWED                              0
REASON                          1698990
TRIP COMMENTS                   1015914
SPECIES COMMENTS                1464129
Unnamed: 46                     1699064
dtype: int64

**Exploring Individual Features:**

In [64]:
#Review all individual categories

print(df['CATEGORY'].unique())

['species' 'form' 'domestic' 'slash' 'spuh' 'issf' 'hybrid']

In [65]:
category_groups = df.groupby(df['CATEGORY']).count()

In [66]:
category_groups

,GLOBAL UNIQUE IDENTIFIER,LAST EDITED DATE,TAXONOMIC ORDER,COMMON NAME,SCIENTIFIC NAME,SUBSPECIES COMMON NAME,SUBSPECIES SCIENTIFIC NAME,OBSERVATION COUNT,BREEDING BIRD ATLAS CODE,BREEDING BIRD ATLAS CATEGORY,...,NUMBER OBSERVERS,ALL SPECIES REPORTED,GROUP IDENTIFIER,HAS MEDIA,APPROVED,REVIEWED,REASON,TRIP COMMENTS,SPECIES COMMENTS,Unnamed: 46
CATEGORY,,,,,,,,,,,,,,,,,,,,,
domestic,59483,59483,59483,59483,59483,59053,59053,59483,460,460,...,58195,59483,6558,59483,59483,59483,0,23409,4908,0
form,2838,2838,2838,2838,2838,2838,2838,2838,4,4,...,2688,2838,244,2838,2838,2838,0,1346,562,0
hybrid,1276,1276,1276,1276,1276,0,0,1276,4,4,...,1255,1276,167,1276,1276,1276,0,641,195,0
issf,29790,29790,29790,29790,29790,29790,29790,29790,475,475,...,29156,29790,3905,29790,29790,29790,0,13367,3429,0
slash,1005,1005,1005,1005,1005,0,0,1005,6,6,...,993,1005,146,1005,1005,1005,0,390,456,0
species,1587872,1587872,1587872,1587872,1587872,0,0,1587872,22537,22537,...,1548682,1587872,202135,1587872,1587872,1587872,74,636349,219655,0
spuh,16800,16800,16800,16800,16800,0,0,16800,579,579,...,16675,16800,2298,16800,16800,16800,0,7648,5730,0

In [68]:
print(category_groups.count())

GLOBAL UNIQUE IDENTIFIER        7
LAST EDITED DATE                7
TAXONOMIC ORDER                 7
COMMON NAME                     7
SCIENTIFIC NAME                 7
SUBSPECIES COMMON NAME          7
SUBSPECIES SCIENTIFIC NAME      7
OBSERVATION COUNT               7
BREEDING BIRD ATLAS CODE        7
BREEDING BIRD ATLAS CATEGORY    7
AGE/SEX                         7
COUNTRY                         7
COUNTRY CODE                    7
STATE                           7
STATE CODE                      7
COUNTY                          7
COUNTY CODE                     7
IBA CODE                        7
BCR CODE                        7
USFWS CODE                      7
ATLAS BLOCK                     7
LOCALITY                        7
LOCALITY ID                     7
LOCALITY TYPE                   7
LATITUDE                        7
LONGITUDE                       7
OBSERVATION DATE                7
TIME OBSERVATIONS STARTED       7
OBSERVER ID                     7
SAMPLING EVENT IDENTIFIER       7
PROTOCOL TYPE                   7
PROTOCOL CODE                   7
PROJECT CODE                    7
DURATION MINUTES                7
EFFORT DISTANCE KM              7
EFFORT AREA HA                  7
NUMBER OBSERVERS                7
ALL SPECIES REPORTED            7
GROUP IDENTIFIER                7
HAS MEDIA                       7
APPROVED                        7
REVIEWED                        7
REASON                          7
TRIP COMMENTS                   7
SPECIES COMMENTS                7
Unnamed: 46                     7
dtype: int64